{%extends 'main.html'%}


{%block content %}



<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr ;
    }
</style>

<div class="home-container">
    <div>
        <h2>
        things you may like
        </h2>
        {%for products in product%}
        <ul>
            <li>
                {{products.type_of}}
            </li>
        </ul>
        {%endfor%}
        <h2>Brands you want</h2>
        {%for products in product%}
        <ul>
            <li>
                {{products.brand}}
            </li>
        </ul>
        {%endfor%}
    </div>
    <div>
        {%for products in product %}
            
                <img src="{{products.image.url}}" alt="" style="float:left"  width="160" height="160" hspace="30" >
                <h3> <a href="">{{products.name}}</a></h3>
                <small> {{products.price}}GHC {{products.by.location}} </small>
                <h4><a href=""> by @{{products.by.user.username}}</a></h4>
                <small> posted {{products.updated|timesince}}</small>  
                <br>
        {%endfor%}

    </div>  
    <div>
        <h1>
            NEW DEALS & DISCOUNTS
        </h1>
    </div>
    
</div>
{%endblock%}