
{%extends 'main.html'%}
{%load static%}
{%block content%}

<style>
  .payment-container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
</style>

<div class="payment-container">

  <div>

    <img src="{{product.image.url}}" alt="">
  
  </div>
  <div>
  
  <form id="paymentForm">
    <div class="form-group">
       <label for="email">Email Address</label>
     <input type="email" id="email-address" required />
     </div>
     <div class="form-group">
      
        <label for="amount">Amount</label>
        <h3 id="amount">{{product.price}}</h3>
      
      <!-- <input type="tel" id="amount" required /> -->
     </div>
     <div class="form-group">
       <label for="first-name">First Name</label>
       <input type="text" id="first-name" />
     </div>
     <div class="form-group">
       <label for="last-name">Last Name</label>
     <input type="text" id="last-name" />
     </div>
     <div class="form-submit">
       <button type="submit" onclick="payWithPaystack()"> Pay </button>
     </div>
   </form>
   
   <script src="https://js.paystack.co/v1/inline.js"></script> 
   <script src="{% static   'scripts/paystack.js' %}"></script>
  
  </div>
  
  <div>
  
  </div>
  
</div>

  {%endblock content%}