<!-- {% load paystack %}
<form >
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button type="button" onclick="makePayment()"> Pay </button> 
</form>
 
<script>
  function makePayment(){
    var handler = PaystackPop.setup({
            key = 'public_key', //public key from your paystack
            email: {{email}},
            amount: 'amount to be paid',
            currency: 'NGN',
            ref: “”+Math.floor((Math.random() * 100000000) + 1),
            ref: ''+Math.floor((Math.random() * 1000000000) + 1),
            callback: function(response){
          alert('success. transaction ref is ' +response.reference);
      },
      onClose: function(){
          alert('window closed');
      }
    });
    handler.openIframe();
  }
  window.onload = makePayment()
</script> -->
{%extends 'main.html'%}
{%load static%}
{%block content%}

<form id="paymentForm">
  2  <div class="form-group">
  3    <label for="email">Email Address</label>
  4    <input type="email" id="email-address" required />
  5  </div>
  6  <div class="form-group">
  7    <label for="amount">Amount</label>
  8    <input type="tel" id="amount" required />
  9  </div>
  10  <div class="form-group">
  11    <label for="first-name">First Name</label>
  12    <input type="text" id="first-name" />
  13  </div>
  14  <div class="form-group">
  15    <label for="last-name">Last Name</label>
  16    <input type="text" id="last-name" />
  17  </div>
  18  <div class="form-submit">
  19    <button type="submit" onclick="payWithPaystack()"> Pay </button>
  20  </div>
  21</form>
  22
  23<script src="https://js.paystack.co/v1/inline.js"></script> 

  {%endblock content%}